@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body {
  background-image: url('./../img/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.centered-image {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 25%;
}

div#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom, white, rgba(255, 0, 0, 0.738));
  color: white;
  text-align: center;
}

.splash-image {
  display: block;
  margin: 5% auto;
  margin-bottom: 0;
  max-width: 70%;
  height: auto;
}

a {
  color: black;
  transition: font-size 0.3s;
  font-family: "Zeyada";
  font-size: x-large;
}

a:hover {
  font-size: 155%;
  color: black;
}

.homeNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.homeNav a {
  margin: 0 10px;
  color: black;
  transition: font-size 0.3s;
  font-family: "Zeyada";
  font-size: xx-large;
}

.homeNav a:hover {
  font-size: 220%;
}

.styled-button {
  color: black;
  font-family: "Zeyada";
  font-size: x-large;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}

.styled-button:hover {
  font-size: 185%;
  color: black;
}

h1,
h2 {
  font-family: "Zeyada";
  text-align: center;
}

.list {
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.254);
  padding-bottom: 5px;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid #FF0000;
  border-radius: 10px;
  text-align: center;
}

.view-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  font-size: large;
  text-decoration: none;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button {
  color: black;
  font-family: "Zeyada";
  font-size: x-large;
  text-decoration: underline;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  font-size: 135%;
  color: black;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .delete-button {
  margin-left: 50%;
  /* Adjust margin as needed */

  h4 {
    text-align: center;
  }