<br>
<h1>Peirre's Bakery LOGO!</h1>
<h3>Sweet and Savory Treats</h3>
<br>
<br>
<div id="links">
<p><a href='/Flavors'>Shop by Flavors</a> or <a href='Treats'>Shop by Treats</a></p>
<br>
<br>
<br>
<h4>Manager Login:</h4>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
</div>