<br>
<a href="/"> 
<img src="/img/red.png" alt="Red Pierre's logo" class="logo-image">
<div id="links">
<div class="homeNav">
<a href='/Flavors'>Shop by Flavor</a>
</div>
<div>
<a href='Treats'>Shop by Treats</a>
</div>
</div>

