@model Bakery.Models.Treat

@if (User.Identity.IsAuthenticated)
{
<br>

<h4>Are you sure you want to delete @Model.TreatName?</h4>
<br />
@using (Html.BeginForm())
{
    <div style="text-align: center;">
    <input type="submit" value="Yes, Delete @Model.TreatName" />
    </div>
}
<br>
<br>
<div class="view-nav">
<button>@Html.ActionLink("No, Take Me Back to Treat List", "Index")</button>
</div>
}
else
{
<h4>Hey! You're not supposed to be here!</h4>
<button>@Html.ActionLink("Go Back Home", "Index", "Home")</button>
}