@if (User.Identity.IsAuthenticated)
{
<br/>
<div id="footer">
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="styled-button" value="Log out" />
  }
  </div> 
}
else
{
<div id="footer">
<br/>
<p>@Html.ActionLink("Manager Login", "Index", "Account")</p>
</div> 
}