<div id="header">
    <div id="header-text">
        <a href="/">
        <img src="../img/black.png" alt="Black Pierre's Logo" class="centered-image" />
        </a>
        <br>
        <br>
    </div>
    <br />
</div>
