@model Bakery.Models.Flavor

@if (User.Identity.IsAuthenticated)
{
<br>
<h2>Are you sure you want to delete @Model.FlavorName?</h2>
<br />
@using (Html.BeginForm())
{
    <div style="text-align: center;">
    <input type="submit" value="Delete" />
    </div>
}
<br>
<br>
<div class="view-nav">
<button>@Html.ActionLink("Back to Flavor List", "Index")</button>
</div>
}
else
{
<h4>Hey! You're not supposed to be here!</h4>
<button>@Html.ActionLink("Go Back Home", "Index", "Home")</button>
}